# Ignore messaround files
MessAround*.py

# Ignore UsageCheck
UsageCheck.py

# Ignore pycache
__pycache__

# Ignore .iml
*.iml

# Ignore final data directories
/Data/csv/**
/Data/npy/**
/Data/json/**
/Data/kc/**
/Data/dailytrend/**
!/Data/csv/.gitkeep
!/Data/npy/.gitkeep
!/Data/json/.gitkeep
!/Data/kc/.gitkeep
!/Data/dailytrend/.gitkeep

#ignore APIKeyFile for future forks
API.py

# Ignore ./idea
.idea/
